{% extends "base.html" %}
{% block head %}
<title>Edit Stories</title>
{% endblock %}

{% block content %}
<!-- form to choose which story to edit -->
<center>
       <form action = "/edit" method="POST">
	 choose a story to edit:
	 <br>
	   <!-- loops through all stories you haven't contributed to and shows their titles--> 
	 {% for key, value in stories.items() %}
	 <input type="radio" name="storyid" value={{key}}> {{value}}
	 <br>
	 {% endfor %}
	 <input type="submit" name="edit">
	 
	 

       </form>
</center>

       
    {% endblock %}
