{% extends "base.html" %}
{% block head %}
<title>Edit</title>
{% endblock %}

{% block content %}
<h1> Edit a story </h1>
Title: <strong>{{title}}</strong>
<br>
Previous Contribution: {{contrib}}
  <!-- form to edit a story-->
    <form action="/edit" method="POST" id="edit">
      <h4> Enter your contribution here: </h4>
      <input name="storyID" type="hidden" value={{id}}>
      <textarea name="content" rows="10" cols="80" form="edit"></textarea>
      <br>
      <input type="submit" name="submit">
    </form>
    <a href="choose">Click here to pick a different story</a>
    <br>

    {% endblock %}
